.status-verify {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    color          : red;
    font-size      : 30px;
    padding        : 50px;
    font-weight    : 600;
}